{% load i18n cosinnus_tags %}

{% with all_streams=streams.all %}
	{% url 'cosinnus:my_stream' as my_stream_url %}
	{% captureas href %}{{ my_stream_url }}{% add_current_params %}{% endcaptureas %}
	{% captureas label %}{% if user.is_authenticated %}{% trans "My Stream" %}{% else %}{% trans "Public Stream" %}{% endif %}{% endcaptureas %}
	{% captureas active %}{% if request.path == my_stream_url %}True{% endif %}{% endcaptureas %}
	{% captureas classes %}{% if all_streams %}fine-space{% else %}regular-space{% endif %}{% endcaptureas %}
	{% include "cosinnus/leftnav_button.html" with extra_classes=classes active=active icon="fa-paper-plane-o" label=label href=href %}
	
	{% for stream in all_streams %}
	    {% url 'cosinnus:stream' slug=stream.slug as stream_url %}
		{% captureas href %}{{ stream_url }}{% add_current_params %}{% endcaptureas %}
		{% captureas label %}{{ stream.title }}{% endcaptureas %}
		{% captureas active %}{% if request.path == stream_url %}True{% endif %}{% endcaptureas %}
		{% captureas classes %}{% if forloop.last %}regular-space{% else %}fine-space{% endif %}{% endcaptureas %}
		{% include "cosinnus/leftnav_button.html" with extra_classes=classes active=active icon="fa-paper-plane-o" label=label href=href %}
    {% endfor %}
{% endwith %}

{% url 'cosinnus:create_stream' as create_stream_url %}
{% captureas label %}{% trans "Create Stream" %}{% endcaptureas %}
{% captureas active %}{% if request.path == create_stream_url %}True{% endif %}{% endcaptureas %}
{% include "cosinnus/leftnav_button.html" with extra_classes="regular-space" active=active icon="fa-plus" label=label href=create_stream_url %}
