{% extends "cosinnus_stream/base.html" %}
{% load i18n cosinnus_tags widget_tweaks %}
{% block page_title %}{% trans "Notes" %}: {{group.name}} {% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block leftnav %}
    {% url 'cosinnus:my_stream' as my_stream_url %}
    {% captureas href %}{{ my_stream_url }}{% add_current_params %}{% endcaptureas %}
    {% captureas label %}{% trans "My Stream" %}{% endcaptureas %}
    {% captureas active %}{% if request.path == my_stream_url %}True{% endif %}{% endcaptureas %}
    {% include "cosinnus/leftnav_button.html" with extra_classes="regular-space" icon="fa-paper-plane-o" label=label href=href  %}
{% endblock leftnav %}


{% block content %}
    
    <!-- a box with semi transparent background -->
    <div class="content-box">
        
        {% for obj in stream_objects %}
            {% cosinnus_render_single_object obj %}
        {% endfor %}
    
    </div><!-- content-box -->
{% endblock %}
