{% extends "cosinnus_stream/base.html" %}
{% load i18n cosinnus_tags widget_tweaks %}
{% block page_title %}{{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    {% if stream %}
        <li class="active">{{ stream.title }}</li>
    {% else %}
        <li class="active">{% if user.is_authenticated %}{% trans "My Stream" %}{% else %}{% trans "Public Stream" %}{% endif %}</li>
    {% endif %}
{% endblock %}

{% block leftnav %}
    {% include 'cosinnus_stream/leftnav.html' with streams=streams %}
{% endblock leftnav %}


{% block content %}
    
    <!-- a box with semi transparent background -->
    <div class="content-box">
        
        {% for obj in stream_objects %}
            {% cosinnus_render_single_object obj %}
        {% endfor %}
    
    </div><!-- content-box -->
    
    {% if has_more == True %}
	    <div class="content-box">
	        Und {{ has_more_count }} weitere...
	    </div>
    {% endif %}
    
{% endblock %}
