{% extends "cosinnus_stream/base.html" %}
{% load i18n static cosinnus_tags widget_tweaks %}

{% block page_title %}
    {% if form_view == "add" %}
      {% trans "Create Stream" %}
    {% elif form_view == "edit" %}
      {% blocktrans with stream_name=stream.title %}Edit stream "{{ stream_name }}"{% endblocktrans %}
    {% endif %}
{% endblock page_title %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="active"
	    >{% if form_view == "add" %}{% trans "Create Stream" %}{% elif form_view == "edit" %}{% blocktrans with stream_name=stream.title %}Edit stream "{{ stream_name }}"{% endblocktrans %}{% endif %}
    </li>
{% endblock %}

{% block leftnav %}
    {% include 'cosinnus_stream/leftnav.html' with streams=streams %}
{% endblock leftnav %}

{% block content %}

    <!-- a box with semi transparent background -->
    <div class="content-box">
       <form method="POST" action="">{% csrf_token %}
            
            <div type="button" class="btn btn-default w100 regular-space">
                <ul class="media-list">
                    <li class="media">
                        <a class="pull-left btn-emphasized" href="#">
                            <i class="fa fa-plus"></i>
                        </a>
                        <div class="media-body media-body-form-control">
                            {{ form.forms.obj.non_field_errors }}
                            {{ form.forms.media_tag.non_field_errors }}
                            
                            {{ form.forms.obj.title.errors }}
                            {% captureas placeholder %}{% trans "Enter a title for the stream." %}{% endcaptureas %}
                            {% if request.GET.title %}
                                {% render_field form.forms.obj.title class+="form-control" placeholder=placeholder value=request.GET.title %}
                            {% else %}
                                {% render_field form.forms.obj.title class+="form-control" placeholder=placeholder %}
                            {% endif %}
                            
                        </div>
                    </li>
                </ul>
            </div>
            
            <fieldset>
                <legend>{% trans "Apply filters for the stream" %}</legend>
	                        
	            <label>{% trans "Filter by Group/Project?" %}</label>
	            <div type="button" class="btn btn-default regular-space w100">
	                <ul class="media-list">
	                    <li class="media">
	                        <a class="pull-left" href="#">
	                            <i class="fa fa-globe"></i>
	                        </a>
	                        <div class="media-body">
	                            
	                            <select id="id_group" name="group" class="w100 user-selector" data-placeholder="{% trans "Select Group/Project" %}">
                                    <option value="" default>-------</option>
                                    {% for group in form.forms.obj.group.field.choices.queryset %}
                                       <option {% if form.forms.obj.group.value == group.pk %}selected{% endif %} value="{{ group.pk }}">{{ group.name }}{% if group.is_foreign_portal %} ({{ group.portal.name }}){% endif %}</option>
                                    {% endfor %}
                                </select>
	                        </div>
	                    </li>
	                </ul>
	            </div>
	            
	            <label>{% trans "Filter by authors, tags or other tagged properties?" %}</label>
	            <div class="regular-space">
	                {% include 'cosinnus/media_tags.html' %}
	            </div>
	            
	            <label>{% trans "Filter by item types?" %}</label>
	            <div class="regular-space">
	                <ol class="input-area">
					    <li class= "w100" style="white-space:normal;">
					        {% for model_option in stream_model_selection %}
					            {% captureas cosinnus_css_class %}{% if model_option.app == 'todo' %}app-todos{% elif model_option.app == 'note' %}app-main{% elif model_option.app == 'file' %}app-files{% elif model_option.app == 'event' %}app-calendar{% elif model_option.app %}app-{{ model_option.app }}{% else %}app-main{% endif %}{% endcaptureas %}
					            <span class="pull-left inline-list nowrap {{ cosinnus_css_class }}">
							        <a class="app-background small-padding"><input id="checkbox_{{ model_option.app }}" type="checkbox" name="models" {% if model_option.checked == True %}checked="true"{% endif %} value="{{ model_option.model_name }}" /></a
							        ><span class="app-background-light dark-color small-padding" onclick="$('#checkbox_{{ model_option.app }}').prop('checked', !($('#checkbox_{{ model_option.app }}').prop('checked')));">
							            {{ model_option.label }}
							        </span>
							    </span>
					        {% endfor %}
					    </li>
					</ol>
	            </div>
	            
	            <button type="submit" class="btn btn-emphasized" id="createDoodleButton">
	                <ul class="media-list">
	                    <li class="media">
	                        <a class="pull-left" href="#">
	                            <i class="fa fa-pencil"></i>
	                        </a>
	                        <div class="media-body">
	                            {% if form_view == "add" %}
	                              {% trans "Create" %}
	                            {% elif form_view == "edit" %}
	                              {% trans "Edit" %}
	                            {% endif %}
	                        </div>
	                    </li>
	                </ul>
	            </button>
	            
            </fieldset>
        </form>
    
    </div><!-- content-box -->
    
{% endblock content %}
